<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- APP.CSS -->
        <link rel="stylesheet" href="/style/style.css">
        <!-- BOOTSTRAP.CSS -->
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
            crossorigin="anonymous">
        <!--BOOTSTRAP ICONS-->
        <link rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
        <!-- BOXICONS CDN -->
        <link rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/boxicons/2.1.0/css/boxicons.min.css">
        <!-- FONTAWESOME -->
        <link rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
        <!-- SWIPER CSS -->
        <link rel="stylesheet" href="/style/swiper.css">
        <title>Draxlar Portfolio</title>

    </head>

    <body>
        <!-- NAVBAR -->
        <nav class="navbar fixed-top navbar-expand-lg navbar-light">
            <div class="container-fluid" id="navbarheader">
                <a class="navbar-brand" href="#">Thankgod</a>
                <button class="navbar-toggler" type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#navbarNavAltMarkup"
                    aria-controls="navbarNavAltMarkup" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <div class="navbar-nav mx-auto">
                        <a class="nav-link active" href="#home">Home</a>
                        <a class="nav-link" href="#about">About</a>
                        <a class="nav-link" href="#skill">Skill</a>
                        <a class="nav-link" href="#services">Services</a>
                        <a class="nav-link" href="#work">Portfolio</a>
                        <a class="nav-link contact" href="#contact">Contact Me</a>
                    </div>
                </div>
            </div>
        </nav>


        <!-- INTRODUCTION -->

        <section class="home section display-table" id="home">
            <div class="table-cell">
                <div class="home-container container grid">

                    <div class="home-data">
                        <span class="home-greeting">Hello</span>
                        <h1 class="home-name">I'm THANKGOD OGBONNA<br><span
                                class="home-subname"></span>
                        </h1>
                        <p class="home-description">
                            A Web developer and UI/UX Designer offering
                            Seamless experiences for you and the use
                            of your websites
                        </p>

                        <div class="home-icon">
                            <a href="https://github.com/Thankgod222"><i
                                    class='bx
                                    bxl-github
                                    home-icon-link'></i></a>
                            <a href="https://www.linkedin.com/in/nonytech/"><i
                                    class='bx
                                    bxl-linkedin home-icon-link'></i></a>
                            <a href="https://github.com/Thankgod222"><i
                                    class='bx
                                    bxl-twitter
                                    home-icon-link'></i></a>
                            <a href="https://github.com/Thankgod222"><i
                                    class='bx
                                    bxl-instagram
                                    home-icon-link'></i></a>
                            <a href="https://github.com/Thankgod222"><i
                                    class='bx
                                    bxl-facebook
                                    home-icon-link'></i></a>
                            <a href="https://github.com/Thankgod222"><i
                                    class='bx
                                    bxl-whatsapp
                                    home-icon-link'></i></a>


                        </div>

                        <div class="home-button">
                            <span><a class="btn btn-primary">Hire me</a></span>
                            <span><a class="btn btn-outline-primary">Resume</a></span>
                        </div>

                    </div>
                    <div class="home-img">
                        <img src="image/hero-img.svg" alt="">
                    </div>


                </div>
            </section>


            <!-- ABOUT US -->
            <section class="about section" id="about">
                <h2 class="section-title">About me</h2>

                <div class="about-container container grid">
                    <div class="img-container">
                        <img src="image/7.png" alt="" class="about-img">
                    </div>


                    <div class="about-data">
                        <h4>Hi I'm THANKGOD OGBONNA</h4>
                        <p class="about-description">
                            I' m a multidisciplinary web developer<br>
                            and ui/ux designer,your services is my<br>
                            concern learn more about things i can<br>
                            bring to your company or project
                        </p>
                        <span><a class="btn btn-primary">Download cv</a></span>
                        <span><a class="btn btn-outline-primary">Contact</a></span>
                    </div>
                </div>
            </section>



            <!-- MY SKILLS -->
            <section class="skill section" id="skill">
                <h2 class="section-title">My skills</h2>

                <div class="skill-container container grid">
                    <div class="skill-data">
                        <a class="skill-item">Education</a>
                        <a class="skill-item">skills</a>
                        <span class="skill-item">Experience</span>


                        <h3 class="skill-subcontent">SOFTWARE ENGINEER</h3>
                        <p class="skill-description">
                            I’ m a multidisciplinary web developer
                            and ui/ux designer, whose<br> skills include
                            designing mock up creating algoritms and
                            software and also <br>app, app deployment
                        </p>
                        <button class="btn btn-primary btn-sm">Hire me now</button>
                    </div>

                    <img src="image/about-img.svg" alt="" class="skill-img">
                </div>
            </section>

            <!-- SERVICES -->
            <section class="services section" id="services">
                <h2 class="section-title">Services</h2>

                <div class="services-container container grid">
                    <div class="services-card ">
                        <h3 class="services-title">Web <br> Development</h3>
                        <p>coding, designing, application management,
                            troubleshooting,
                            monitoring updates and possible security threats,
                            and providing end user support..</p>

                        <span class="services-button">
                            see more <i class='bx bx-right-arrow-alt
                                services-icon'></i>
                        </span>

                        <div class="services-modal">
                            <div class="services-modal-content">
                                <i class='bx bx-x services-modal-close'></i>

                                <h3 class="services-modal-title">Web Development</h3>
                                <p class="services-modal-description">
                                    coding, designing, application management,
                                    troubleshooting,
                                    monitoring updates and possible security
                                    threats, and providing end user support..
                                </p>

                                <ul class="services-modal-list">
                                    <li class="services-modal-item">
                                        <i class='bx bx-check
                                            services-modal-icon'></i>
                                        <p class="services-modal-info">
                                            I build,design and develop websites.
                                        </p>
                                    </li>

                                    <li class="services-modal-item">
                                        <i class='bx bx-check
                                            services-modal-icon'></i>
                                        <p class="services-modal-info">
                                            web page development
                                        </p>
                                    </li>

                                    <li class="services-modal-item">
                                        <i class='bx bx-check
                                            services-modal-icon'></i>
                                        <p class="services-modal-info">
                                            Api creating and integrating.
                                        </p>
                                    </li>

                                    <li class="services-modal-item">
                                        <i class='bx bx-check
                                            services-modal-icon'></i>
                                        <p class="services-modal-info">
                                            Database management.
                                        </p>
                                    </li>

                                    <li class="services-modal-item">
                                        <i class='bx bx-check
                                            services-modal-icon'></i>
                                        <p class="services-modal-info">
                                            ensure the website is visually
                                            appealing
                                            and easy to
                                            navigate.
                                        </p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="services-card">
                        <h3 class="services-title">UI & Ux<br> Designer</h3>
                        <p> coding, designing, application management,
                            troubleshooting,
                            monitoring updates and possible security
                            threats,
                            and providing end user support..</p>

                        <span class="services-button">
                            see more <i class='bx bx-right-arrow-alt
                                services-icon'></i>
                        </span>

                        <div class="services-modal">
                            <div class="services-modal-content">
                                <i class='bx bx-x services-modal-close'></i>

                                <h3 class="services-modal-title">UI & Ux
                                    Designer</h3>
                                <p class="services-modal-description">
                                    create the user interface for an app,
                                    website,
                                    or other
                                    interactive media
                                </p>

                                <ul class="services-modal-list">
                                    <li class="services-modal-item">
                                        <i class='bx bx-check
                                            services-modal-icon'></i>
                                        <p class="services-modal-info">
                                            I develop the user interface.
                                        </p>
                                    </li>

                                    <li class="services-modal-item">
                                        <i class='bx bx-check
                                            services-modal-icon'></i>
                                        <p class="services-modal-info">
                                            web page development
                                        </p>
                                    </li>

                                    <li class="services-modal-item">
                                        <i class='bx bx-check
                                            services-modal-icon'></i>
                                        <p class="services-modal-info">
                                            I create ux element interactions.
                                        </p>
                                    </li>

                                    <li class="services-modal-item">
                                        <i class='bx bx-check
                                            services-modal-icon'></i>
                                        <p class="services-modal-info">
                                            I position your company brand.
                                        </p>
                                    </li>

                                    <li class="services-modal-item">
                                        <i class='bx bx-check
                                            services-modal-icon'></i>
                                        <p class="services-modal-info">
                                            Design and mockups of products for
                                            companies
                                        </p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>


                    <div class="services-card">
                        <h3 class="services-title">App<br> Development</h3>
                        <p>
                            coding, designing, application management,
                            troubleshooting,
                            monitoring updates and possible security threats,
                            and providing end user support..</p>

                        <span class="services-button">
                            see more <i class='bx bx-right-arrow-alt
                                services-icon'></i>
                        </span>

                        <div class="services-modal">
                            <div class="services-modal-content">
                                <i class='bx bx-x services-modal-close'></i>

                                <h3 class="services-modal-title">App Development</h3>
                                <p class="services-modal-description">
                                    coding, designing, application management,
                                    troubleshooting,
                                    monitoring updates and possible security
                                    threats, and providing end user support..
                                </p>

                                <ul class="services-modal-list">
                                    <li class="services-modal-item">
                                        <i class='bx bx-check
                                            services-modal-icon'></i>
                                        <p class="services-modal-info">
                                            I build,create and develop app.
                                        </p>
                                    </li>

                                    <li class="services-modal-item">
                                        <i class='bx bx-check
                                            services-modal-icon'></i>
                                        <p class="services-modal-info">
                                            App page development
                                        </p>
                                    </li>

                                    <li class="services-modal-item">
                                        <i class='bx bx-check
                                            services-modal-icon'></i>
                                        <p class="services-modal-info">
                                            App deployment.
                                        </p>
                                    </li>

                                    <li class="services-modal-item">
                                        <i class='bx bx-check
                                            services-modal-icon'></i>
                                        <p class="services-modal-info">
                                            I position your company brand.
                                        </p>
                                    </li>

                                    <li class="services-modal-item">
                                        <i class='bx bx-check
                                            services-modal-icon'></i>
                                        <p class="services-modal-info">
                                            Design and mockups of products for
                                            companies
                                        </p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>



            </section>
            <!-- WORKS -->

            <section class="work section" id="work">
                <span class="section-subtitle"></span>
                <h2 class="section-title">Portfolio</h2>


                <div class="work-filters">
                    <span class="work-item active-work" data-filter="all">All</span>
                    <span class="work-item" data-filter=".web">Web</span>
                    <span class="work-item" data-filter=".ui">UI/UX</span>
                    <span class="work-item" data-filter=".app">App</span>
                </div>



                <div class="work-container container grid">
                    <% portfolio.forEach(function(portfolio, index) { %>
                        <div class="work-card <%= portfolio.category %> ">
                            <img src="<%= portfolio.image %>"
                            alt=""
                            class="work-img">

                            <div class="work-overlay">
                                <div class="work-subcontainer">
                                    <div class="work-icon">
                                        <svg xmlns="http://www.w3.org/2000/svg"
                                            role="img" viewBox="0 0 24 24"
                                            fill="none" stroke="currentColor"
                                            stroke-width="1"
                                            stroke-linecap="round"
                                            stroke-linejoin="round"
                                            class="feather
                                            feather-folder"><title>Folder</title><path
                                                d="M22 19a2 2 0 0 1-2 2H4a2 2 0
                                                0
                                                1-2-2V5a2 2 0 0 1 2-2h5l2 3h9a2
                                                2 0
                                                0 1 2 2z"></path></svg>
                                        <i class="bi bi-box-arrow-up-right"></i>
                                    </div>

                                    <h3 class="work-title"><%= portfolio.name %></h3>
                                        <h5 class="work-description"><%=
                                                portfolio.description %></h5>
                                            <%
                                                portfolio.tag.forEach(function(tag,
                                                index) { %>
                                                <div class="work-maintag">
                                                    <div class="work-tags"><%=tag
                                                            %></div>
                                                    </div>
                                                    <% }) %>
                                                    </div>
                                                </div>
                                            </div>
                                            <% }) %>
                                            </div>
                                        </section>


                                        <!-- CONTACT ME-->

                                        <section class="contact section"
                                            id="contact">
                                            <div class="contact-container">
                                                <div class="contact-box">
                                                    <h2 class="contact-title">Contact
                                                        me</h2>
                                                    <div class="row">
                                                        <div class="contact-left
                                                            col-sm-12 col-md-12
                                                            col-lg-8">
                                                            <form>
                                                                <div
                                                                    class="row">
                                                                    <div
                                                                        class="col-lg-6
                                                                        col-md-6
                                                                        col-sm-12">
                                                                        <input
                                                                            type="text"
                                                                            class="form-control"
                                                                            placeholder="Enter
                                                                            name"
                                                                            name="name">
                                                                    </div>

                                                                    <div
                                                                        class="col-lg-6
                                                                        col-md-6
                                                                        col-sm-12">
                                                                        <input
                                                                            type="text"
                                                                            class="form-control"
                                                                            placeholder="Enter
                                                                            email"
                                                                            name="email">
                                                                    </div>
                                                                </div>
                                                                <textarea
                                                                    placeholder="Message"
                                                                    rows="5"></textarea>
                                                                <button
                                                                    class="btn
                                                                    btn-primary
                                                                    mt-5">send</button>
                                                            </form>
                                                        </div>
                                                        <div
                                                            class="contact-right
                                                            col-sm-12 col-md-12
                                                            col-lg-4">
                                                            <div
                                                                class="contact-right-data">
                                                                <span><i
                                                                        class='bx
                                                                        bxs-phone-call
                                                                        contact-right-icon'></i></span>
                                                                <a
                                                                    class="contact-right-link"
                                                                    href="tel:+23481581
                                                                    714 22">+234
                                                                    81 581 714
                                                                    22</a>
                                                            </div>
                                                            <div
                                                                class="contact-right-data">
                                                                <span><i
                                                                        class='bx
                                                                        bxs-envelope
                                                                        contact-right-icon'></i></span>
                                                                <a
                                                                    class="contact-right-link"
                                                                    href="mailto:Thankgodogbonna01@gmail.com">Thankgodogbonna01@gmail.com</a>
                                                            </div>
                                                            <div
                                                                class="contact-right-data">
                                                                <span><i
                                                                        class='bx
                                                                        bxs-home
                                                                        contact-right-icon'></i></span>
                                                                <a
                                                                    class="contact-right-link"
                                                                    href="">8
                                                                    Godwin
                                                                    street
                                                                    Ikpoba hill
                                                                    Benin
                                                                    nigeria road</a>
                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        </section>



                                        <!-- FOOTERS -->
                                        <section class="footer" id="footer">
                                            <div class="footer-container
                                                container-grid">
                                                <div class="footerbox">
                                                    <h5>Copyrights 2020 All
                                                        rights reserved.</h5>
                                                    <p>&copy; Designed by
                                                        DraxTech</p>
                                                </div>
                                            </div>
                                        </section>





                                        <button onclick="topFunction()"
                                            id="myBtn" title="Go to top"><i
                                                class='bx bx-up-arrow-alt'></i></button>
                                        <!--Start of Tawk.to Script-->
                                        <script type="text/javascript">
      var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
      (function(){
      var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
      s1.async=true;
      s1.src='https://embed.tawk.to/6308d7f954f06e12d890f376/1gbd8nal6';
      s1.charset='UTF-8';
      s1.setAttribute('crossorigin','*');
      s0.parentNode.insertBefore(s1,s0);
      })();
    </script>
                                        <!--End of Tawk.to Script-->

                                        <!-- BOOTSTRAP JS -->
                                        <script
                                            src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"
                                            integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB"
                                            crossorigin="anonymous"></script>
                                        <script
                                            src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"
                                            integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13"
                                            crossorigin="anonymous"></script>
                                        <!-- Auto -->
                                        <script
                                            src="https://cdn.jsdelivr.net/npm/typed.js@2.0.12"></script>
                                        <!-- MIXITUP FILTER -->
                                        <script src="/Js/mixitup.min.js"></script>
                                        <!-- SWIPER JS -->
                                        <script src="/Js/swiper-bundle.min.js"></script>
                                        <!-- APP.JS -->
                                        <script src="/Js/app.js"></script>
                                    </body>
                                </html>